/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light mode track */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1; /* Light mode thumb */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
  
  /* Dark mode scrollbar */
  .dark .custom-scrollbar::-webkit-scrollbar-track {
    background: #121212; /* Dark mode track */
  }
  
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555; /* Dark mode thumb */
  }
  
  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  
  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1; /* Light mode */
  }
  
  .dark .custom-scrollbar {
    scrollbar-color: #555 #121212; /* Dark mode */
  }
  